/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/bootstrap/cache/*

# Dependency directories
composer.lock

# Debug or system files
.DS_Store
Thumbs.db
*.bak

# Tests coverage and reports
coverage/

# Ignored PHPStorm or other IDE files
*.iml